* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #a6e7ed, #e1f2cb);
  font-family: 'Arvo', serif;
  color: #662200;
}

.navbar {
 background: linear-gradient(to right, #85d6ff, #f4fad9);
}

.container {
  width: 90%;
  height: calc(100vh - 56px);
  background: linear-gradient(to right, #a6f7ff, #e3f3dd);
}

#container-top {
  margin-top: 56px;
  background: linear-gradient(to right, #a6e7ed, #e1f2cb);
  height: calc(100vh - 56px);
  width: 80%;
}

#container-top .row-top-heading {
  padding-top: 110px;
}

.col-heading-top {
  min-width: 100%;
}

.coconut-img {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 80%
}

.top-cloud {
  height: 4.5rem;
  width: 8rem;
  opacity: 50%;
  position: absolute;
  right: 80px;
  top: 100px;
}

.bottom-cloud {
  height: 5.5rem;
  width: 11rem;
  opacity: 70%;
  position: absolute;
  left: 50px;
  bottom: 400px;
}

.wave {
  position: absolute;
  left: 14%;
  bottom: 0;
  width: 61%;
  margin: -13% 0%;
  opacity: 80%;
}

.sand-img {
  position: absolute;
  right: 0;
  bottom:0.4%;
  opacity: 40%;
  min-width: 100%;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: min(9.8vh, 18vw);
}

h2 {
  font-size: 5vh;
}

li {
  list-style-type: none;
}

#container-projects, #container-tools, #container-contact {
  height: auto;
}

.fab {
  font-size: 50px;
  padding: 0 3px;
  color: #662200;
}

.personal-img {
  border: 3px solid #662200;
  width: 80%;
  border-radius: 0.5rem;
}

.react-img, .api-img {
  border: 2px solid #662200;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn-lg {
  background: url(./images/seawave-gif.gif);
  background-size: cover;
  border-style: none;
  height: 2.5rem;
  padding: 0;
}

.aboutme-row {
  height: calc(100vh - 56px);
}

.img-tool {
  border: 1px solid #662200; 
  border-radius: 0.25rem; 
  background: rgba(255, 245, 102, 0.2);
  margin: 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
}


/*assigned classes*/

.embossed {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 
  inset 0 2px 3px rgba(255,255,255,0.1),
  inset 0 -3px 3px rgba(0,0,0,0.1),
  0 1px 1px rgba(255,255,255,0.1);
}

.embossed-text {
 text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5),
 2px -2px 0 rgba(255, 255, 255, 0.5);
}


/*media queries*/

/*medium device*/

@media (min-width:768px) {

  h1 {
    font-size: 14vh;
  }

  h2 {
    font-size: 7vh;
  }

  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.7rem;
  }

  .hello {
    margin-top: 2rem;
  }

  .coconut-img {
    left: 14%;
  }

  .top-cloud {
    height: 8rem;
    width: 13rem;
    right: 100px;
    top: 120px;
  }

  .bottom-cloud {
    height: 7rem;
    width: 12rem;
    left: 55px;
    bottom: 420px;
  }

  .wave {
    width: 51%;
    left: 21.5%;
  }

  .personal-img {
    width: 50%;
  }

  .aboutme-details {
    margin-bottom: 3.5rem;
    padding: 0 3rem;
    font-size: 1.4rem;
  }

  .btn-lg {
    height: 2.5rem;
    padding: 0;
  }
}

/*large device*/

@media (min-width:992px) {

  #container-top {
    position: relative;
    max-width: 130vh;
  }

  h1 {
    font-size: 17vh;
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 9vh;
    margin-top: 2rem;
  }

  .top-cloud {
    height: 9rem;
    width: 13rem;
  }

  .bottom-cloud {
    height: 11rem;
    width: 18rem;
  }

  .coconut-img {
    left: 20%;
    min-width: 65%;
  }

  .wave {
    left: 27.5%;
  }

  .personal-img {
    width: 40%;
  }

}

  .container {
    min-width: 90%
  }

/*extra large device*/

@media (min-width:1200px) {

  .personal-img {
    width: 35%;
  }

}
